@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #353535 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ep-stat {
    border-left-width: 3px !important;
}

.ep-stat-totalcount {
    font-size: 50px;
}

.employee-records-table tr th {
    font-size: 14px;
    text-align: center;
}

.employee-records-table tr th,
.employee-records-table tr td {
    white-space: nowrap;
    vertical-align: middle;
}

.employee-records-table tr td img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}

.profile-picture {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.pp-wrapper {
    min-height: 130px;
}

.form-control {
    border-width: 2px !important;
}

label {
    color: #596780;
}